.searchField{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainTxt{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}